.label {
    -fx-font-family: "Han Zi"; /* Здесь вводим имя шрифта */
    -fx-font-size: 11;
}

.button {
    -fx-font-family: "Han Zi"; /* Здесь вводим имя шрифта */
    -fx-font-size: 11;
}

.text-field {
    -fx-font-family: "Han Zi"; /* Здесь вводим имя шрифта */
    -fx-font-size: 11;
}

#text {
    -fx-font-family: "Han Zi"; /* Здесь вводим имя шрифта */
    -fx-font-size: 18;
}